/* Estilos generales */
body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
}

/* Estilos de la barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    height: 40px;
    margin-right: 10px;
}

.logo-container span {
    font-size: 2em;
    font-weight: bold;
    color: #ff0; /* Color amarillo */
}

.navbar a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.navbar a.active {
    color: #ff0; /* Color amarillo */
    text-decoration: underline;
}
/* Estilos de index */
.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px;
}

.main-content .text {
  max-width: 50%;
}

.main-content h1 {
  color: #fefe01;
  margin-bottom: 20px;
}

.main-content p {
  margin-bottom: 20px;
}

.main-content .btn {
  background-color: #fefe01;
  color: #000;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.main-content img {
  max-width: 40%;
}
/* Estilos planes */
.container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: flex-end; /* Alinea todo el contenido a la derecha */
    }

.left-section {
            text-align: left; /* Alinea el contenido de esta sección a la izquierda */
        }
.section {
            margin-bottom: 20px; /* Agregamos un espacio entre secciones */
        }

.content {
    text-align: left;
    padding: 20px;
}

.section-title {
    font-size: 24px;
    font-weight: bold;
    color: #fefe01;
}

.section-desc {
    font-size: 16px;
    color: #ffffff;
}

/* Estilos del encabezado */
.header {
    text-align: center;
    padding: 50px;
}

.header h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #ff0; /* Color amarillo */
}

.header p {
    font-size: 1.2em;
    margin-bottom: 50px;
}

/* Estilos de los servicios */
.services {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.service-column {
    max-width: 300px;
}

.service-column h3 {
    color: #fefe01;
    font-size: 20px;
    margin-bottom: 10px;
}

.service-column ul {
    list-style-type: none;
    padding: 0;
}

.service-column ul li {
    margin-bottom: 10px;
}

/* Estilos del botón de contacto */
.contact-button {
    display: block;
    width: fit-content;
    margin: 30px auto;
    background-color: #fefe01;
    color: #000;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    position: absolute;
    bottom: 40px; 
    left: 1290px; /* Este valor puede necesitar ajustarse */
}

/* Estilos de la tabla de precios */
.pricing-table {
    display: flex;
    justify-content: space-around;
    padding: 0 50px 50px;
}

.pricing-plan {
    background-color: #111;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 30%;
}

.pricing-plan h2 {
    font-size: 2em;
    color: #ff0; /* Color amarillo */
    margin-bottom: 10px;
}

.pricing-plan .price {
    font-size: 2.5em;
    color: #ff0; /* Color amarillo */
    margin-bottom: 20px;
}

.pricing-plan ul {
    list-style-type: none;
    padding: 0;
    font-size: 1em;
    text-align: left;
    margin-bottom: 20px;
}

.pricing-plan ul li {
    margin-bottom: 10px;
}

.select-plan {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff0; /* Color amarillo */
    color: #000; /* Texto negro */
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 5px;
}

.select-plan:hover {
    background-color: #ffc107; /* Color amarillo más oscuro al pasar el mouse */
}

/* Media Queries para diseño responsivo */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar a {
        margin: 5px 0;
    }

    .header h1 {
        font-size: 2em;
    }

    .header p {
        font-size: 1em;
    }

    .pricing-table {
        flex-direction: column;
        align-items: center;
        padding: 0 20px 20px;
    }

    .pricing-plan {
        width: 80%;
        margin-bottom: 20px;
    }

    .logo-container span {
        font-size: 1.5em;
    }
}

@media (max-width: 480px) {
    .header h1 {
        font-size: 1.5em;
    }

    .header p {
        font-size: 0.9em;
    }

    .pricing-plan {
        width: 100%;
        margin-bottom: 20px;
    }

    .logo-container span {
        font-size: 1.2em;
    }
}
